<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="topic_name" default="scan"/>
  <arg name="frame_id" default="base_laser"/>
  <arg name="port_name" default="/dev/ttyUSB0"/>
  <arg name="port_baudrate" default="230400"/>
  <arg name="fix_to_base_link" default="true"/>
  
  <arg name="param_file_dir"      doc="directory to look for zed_f9p.yaml"
                                  default="$(find gps)" />

    <node pkg="rosserial_arduino" type="serial_node.py" name="serial">
       <param name="port" value="/dev/ttyACM0"/>
       <param name="baud" value="57600"/>
    </node>
    <node pkg="pathfollower" type="odometry.py" name="odometry">
    </node>
    <!--<node pkg="ldlidar_stl_ros" type="lidar_subpub.py" name="lidar_detector">
    </node>-->
      <!--<node name="LD19" pkg="ldlidar_stl_ros" type="ldlidar_stl_ros_node" output="screen" >-->
      <!-- ldldiar message publisher node -->
      <!-- <param name="product_name" value="LDLiDAR_LD19"/>
      <param name="topic_name" value="$(arg topic_name)"/>
      <param name="frame_id" value="$(arg frame_id)"/>
      <param name="port_name" value ="$(arg port_name)"/>
      <param name="port_baudrate" value ="$(arg port_baudrate)"/>
      <param name="laser_scan_dir" type="bool" value="true"/>
      <param name="enable_angle_crop_func" type="bool" value="false"/>
      <param name="angle_crop_min" type="double" value="0.0"/>
      <param name="angle_crop_max" type="double" value="30.0"/>
    </node>-->
    <node pkg="gps" type="gps.py" name="gps">
    </node>

    <node pkg="gps" type="corrections.py" name ="corrections">
    </node>

  </launch>
